
.Pueblo{

    width: 100%;

    height: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

    --nubes-opacidad: 0.9;

}

.Pueblo .main-svg{

    width: 100%;

    height: 100%;

    z-index: 500;

}

@keyframes Nube1{

    0%{

        transform: translateX(-200px);

    }
    100%{

        transform: translateX(600px);

    }

}

@keyframes Nube2{

    0%{

        transform: translateX(-400px);

    }
    100%{

        transform: translateX(600px) translateY(100px);

    }
}

@keyframes Nube3{

    0%{

        transform: translateX(600px);

    }
    100%{

        transform: translateX(-1100px);

    }

}

@keyframes Nube4{

    0%{

        transform: translateX(1000px);

    }
    100%{

        transform: translateX(-1100px);

    }

}

@keyframes Nube5{

    0%{

        transform: translateX(800px);

    }
    100%{

        transform: translateX(-1100px);

    }

}
@keyframes NubeAlfa{

    0%{

        transform: translateX(1500px);

    }
    100%{

        transform: translateX(-1800px);

    }

}
@keyframes NubeBeta{

    0%{

        transform: translateX(-1800px);
        
    }
    100%{
        
        transform: translateX(1500px);

    }

}

.Pueblo .nube1-prueba{

    animation-name: Nube1;

    animation-duration: 45s;
    
    animation-timing-function: linear;

    animation-iteration-count: infinite;

    opacity: var(--nubes-opacidad);

}

.Pueblo .nube2-prueba{

    animation-name: Nube2;

    animation-duration: 85s;
    
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    opacity: var(--nubes-opacidad);

}

.Pueblo .nube3-prueba{

    animation-name: Nube3;

    animation-duration: 65s;
    
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    opacity: var(--nubes-opacidad);

}

.Pueblo .nube4-prueba{

    animation-name: Nube4;

    animation-duration: 85s;
    
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    opacity: var(--nubes-opacidad);

}

.Pueblo .nube5-prueba{

    animation-name: Nube5;

    animation-duration: 45s;
    
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    opacity: var(--nubes-opacidad);

}

.Pueblo .nubeAlfa{

    animation-name: NubeAlfa;

    animation-duration: 55s;
    
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    opacity: var(--nubes-opacidad);

}
.Pueblo .nubeBeta{

    animation-name: NubeBeta;

    animation-duration: 75s;
    
    animation-timing-function: linear;

    animation-iteration-count: infinite;
    opacity: var(--nubes-opacidad);

}