
.Pueblo{

    width: 100%;

    height: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

}

.Pueblo .main-svg{

    width: 100%;

    height: 100%;

    z-index: 500;

}