
.Zone1{

    width: 100%;

    height: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

}

.Zone1 .main-svg{

    width: 100%;

    height: 100%;

    z-index: 500;

}

.Zone1 > .backgroung{

    background-image: url(./svg/tronoFondo.svg);

    width: 100%;

    height: 100%;

    background-size: 100% 100%;

    position: absolute;

}