
.Zone1{

    width: 100%;

    height: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

}

@keyframes dark{

    from{

        background-color: rgba(0, 0, 0, 0);

    }

    to{

        background-color: black;

    }

}

.Zone1 .oscuro{

    position: absolute;

    top: 0;

    width: 100%;

    height: 100%;

    z-index: 1000;

    background-color: rgba(0, 0, 0, 0);

}

.dark{

    filter: brightness(1);

    animation-name: dark;

    animation-duration: 2s;

    animation-fill-mode: forwards;

    animation-timing-function: linear;

}

.Zone1 .main-svg{

    width: 100%;

    height: 100%;

    z-index: 500;

}

.Zone1 .modal{

    position: absolute;

    top: 0;

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: rgba(0, 0, 0, 0.534);

    z-index: 6000;

    width: 100%;

    height: 100%;

    user-select: none;

}

.Zone1 .modal .container{

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    grid-auto-rows: 100px;

    background-color: black;

    color: white;

    font-family: sans-serif;

    font-weight: bold;

    padding: 20px;

    gap: 10px;

    font-size: 2rem;

    border-radius: 10px;

}

.Zone1 .modal .container h5{

    grid-column: 1/3;

}

.Zone1 .modal .container p{

    width: 100%;
    
    height: 100%;

    border-radius: 5px;

    display: flex;

    justify-content: center;

    align-items: center;

    cursor: pointer;

}

.Zone1 .modal .container p:hover{

    background-color: darkblue;

}

.Zone1 .nota{

    position: absolute;

    top: 0;

    z-index: 5000;

    width: 100%;

    height: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: rgba(0, 0, 0, 0.473);

}

.Zone1 .nota div{

    background-color: white;
    
    box-shadow: -10px 10px rgb(192, 192, 192);

    width: 40%;

    padding: 30px;

    height: 50%;

    font-size: 2.5em;

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    background-position: center;

    background-repeat: no-repeat;

    width: 500px;

    height: 500px;

}

.Zone1 .nota div::before{

    content: 'Click para cerrar.';

    position: absolute;

    cursor: pointer;

    top: 105%;

    background-color: white;

    padding: 10px;

    padding-left: 50px;
    padding-right: 50px;

    border-radius: 4px;

}