
@import './normalize.css';

@keyframes AAA{

  from{

    transform: scale(0.1);

  }

  to{

    transform: scale(1);

  }

}

.AA{

  animation-name: AAA;

  animation-duration: 1s;

  animation-fill-mode: forwards;

}

.load{

  width: 100vw;

  height: 100vh;

  background-color: white;

  color: black;

  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column;

}

.load h1{

  font-size: 3em;

  font-family: monospace;

}

.load span{

  margin: 10px;

  font-size: 1.5em;

}

.load .container-logos{

  display: flex;

}

.load .logo{

  width: 300px;

  height: 300px;

  background-size: 100% 100%;

  background-image: url(https://i.ibb.co/Wcf414t/zou-logo-con-sombra.png);

}

.load .logo2{

  width: 400px;

  height: 250px;

  background-size: 100% 100%;

  background-image: url(https://i.ibb.co/m5dcBXS/Firma.png);

}

.load p{

  font-size: 3em;

  font-weight: bold;

}

.load .bar{

  height: 50px;

  width: 600px;

  background-color: white;

}

.load .bar div{

  height: 100%;

  width: 0%;

  background-color: blue;

}

.App{

  width: 100vw;

  height: 100vh;

  overflow: hidden;

  display: flex;

  justify-content: center;

  align-items: center;

  background-color: black;

}

.App .play{

  position: absolute;

  z-index: 10000;

  top: 0;

  width: 100%;

  height: 100%;

  background-color: crimson;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 7em;

  font-family: sans-serif;

  user-select: none;

}

.App .play p{

  cursor: pointer;

}

.App .play p:hover{

  background-color: white;

  padding: 80px;

  border-radius: 10px;

}

.App .inventario{

  position: absolute;

  width: 100%;

  height: 100%;

  background-color: rgb(54, 54, 54);

  z-index: 3000;

  padding: 100px;

  box-sizing: border-box;

}

.App .inventario > .close{

  position: absolute;

  top: 20px;

  right: 20px;

  font-size: 2em;

  margin: 0;

  background-color: red;

  padding: 10px;

  user-select: none;

  color: white;

  font-family: sans-serif;

  font-weight: bold;

  border-radius: 4px;

  cursor: pointer;

}

.App .inventario > .close:hover{

  background-color: white;

  color: red;

}

.App .inventario > .container{

  width: 100%;

  height: 100%;

  background-color: rgb(0, 225, 255);

  border-radius: 20px;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 30px;

  grid-auto-rows: 150px;

  padding: 30px;

  box-sizing: border-box;

}

.App .inventario > .container > *{

  cursor: pointer;

  display: flex;

  justify-content: center;

  align-items: center;

  background-color: brown;

  color: white;

  user-select: none;

}

.App .inventario > .container .example{

  background-color: brown;

  width: 100%;

  height: 100%;

}

.App .inventario-icon{

  position: absolute;

  z-index: 1000;

  width: 70px;

  height: 70px;

  top: 50px;

  right: 50px;

  user-select: none;

  cursor: pointer;

  background-image: url(./icono\ de\ inventario.svg);

  background-size: 100% 100%;

}

.App .inventario-icon:hover{

  transform: scale(1.1);

}

.App .texto{

  width: 70%;

  height: 280px;

  background-color: white;

  position: absolute;

  bottom: 12%;

  color: black;

  border-radius: 20px;

  padding: 20px;

  box-sizing: border-box;

  font-family: sans-serif;

  font-size: 1.5em;

  user-select: none;

  display: grid;

  grid-template-columns: 150px auto;

  gap: 20px;

  z-index: 1000;

}

@keyframes Boom{

  from{

    opacity: 0.9;

    transform: translateX(150px);

  }

  to{

    opacity: 1;

    transform: translateX(0px);

  }

}

.App .texto > .foto{

  width: 150px;

  height: 150px;

  background-position-x: left;

  background-size: 100% 100%;

  background-color: transparent;

  border: 5px black solid;

  border-radius: 10px;

  box-sizing: border-box;

  background-repeat: no-repeat;

}

.App .texto .text-container{

  width: 100%;

  word-break: break-all;

}

.App .texto > .boom{
/* 
  animation-name: Boom;

  animation-duration: 2s; */

}